extends layout

block content
  h1= title
  if(allBooks)
    div
      p
        a(class="button" href="/books/new") Add a book
      form(method="post", action="/books/search/")
        p
          label(for='search') Search
          input#title(name='search', type='text')
          input(type='submit', value='search')
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody    
        each book in allBooks
          tr
            td
              a(href=`/books/${book.id}/edit`) #{book.title}
            td 
              p= book.author
            td 
              p= book.genre
            td
              p= book.year
                      
  if(buttonsArray)  
    each link in buttonsArray
      a.button(href=`/books/?page=${link}`) #{link} 

  else
    h1= message  
    p
        a(class="button" href="/books/new") Add a book  
    br
    p
          a.button(href='/') Return to the Homepage     
          
